@model BTAPLON.Models.Class

<div class="container mt-4">
    <h3 class="mb-3">Chỉnh sửa thông tin</h3>

    <form asp-action="Edit" class="card p-4 shadow-sm">
        <input type="hidden" asp-for="ClassID" />

        <div class="mb-3">
            <label class="form-label">khóa học</label>
            <select asp-for="CourseID" asp-items="ViewBag.CourseID" class="form-select"></select>
        </div>

        <div class="mb-3">
            <label class="form-label">Class Code</label>
            <input asp-for="ClassCode" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Kì học</label>
            <input asp-for="Semester" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Năm</label>
            <input asp-for="Year" type="number" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
        <a asp-action="Index" class="btn btn-secondary  mt-1">Quay lại</a>
    </form>
</div>
